* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}
.additems{

}


